.main-div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
    background-color: white;
    border-top: 3px solid rgb(45, 45, 148);
}

.main-div div {
    margin-top: 10px;
    padding-left: 35px;
}

.title {
    display: block;
    padding-left: 25px;
    font-size: 32px;
    margin-bottom: 5px;
}

.date {
    display: block;
    padding-left: 25px;
    color: rgb(95, 95, 95);
}

.image-container {
    width: 100%;
}

img {
    max-width: 100%;
    min-width: 50%;
    object-fit: cover;
}