<div class="main-div">
    <h1 class="title">{{article.title}}</h1>
    <p class="date">{{formatDate(article.uploadDate)}}</p>
    <div *ngFor="let paragraph of article.paragraphs">
        <div *ngIf="paragraph.sectionType==0">
            <h2>
                {{paragraph.content}}
            </h2>
        </div>
        <div *ngIf="paragraph.sectionType==1">
            <h3>
                {{paragraph.content}}
            </h3>
        </div>
        <div *ngIf="paragraph.sectionType==2">
            <p>
                {{paragraph.content}}
            </p>
        </div>
        <div *ngIf="paragraph.sectionType==3" class="image-container">
            <img src={{paragraph.content}}>
        </div>
        <div *ngIf="paragraph.sectionType==4" class="image-container">
            <video src={{paragraph.content}}></video>
        </div>
    </div>
</div>
