.main-div {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}

li.selected{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-thickness: 3px ;
    
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgb(45, 45, 148);
}

ul, ol {
    list-style: none;
}

li {
    padding: 20px;
    color: rgb(196, 196, 196);
    transition: all 0.5s;
}

li:hover {
    cursor:  pointer;
}

.add-match {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.selects {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}