<div class="form">
    <div class="header-div" id="login">
        <p>Create player</p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
        <div class="form-floating mb-2">
            <input type="text" id="name" placeholder="name" formControlName="name" required class="form-control" [class.is-invalid]="form.get('name')?.invalid && form.get('name')?.touched">
            <label for="name">First name</label>
            <div *ngIf="form.get('name')?.touched">
                <div *ngIf="form.get('name')?.hasError('required')" class="error-message">
                    Name is required.
                </div>
                <div *ngIf="form.get('name')?.hasError('minlength')" class="error-message">
                    Name length must be at least 2.
                </div>
                <div *ngIf="form.get('name')?.hasError('maxlength')" class="error-message">
                    Name length must be at most 40.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="text" id="surname" placeholder="surname" formControlName="surname" required class="form-control" [class.is-invalid]="form.get('surname')?.invalid && form.get('surname')?.touched">
            <label for="surname">Last name</label>
            <div *ngIf="form.get('surname')?.touched">
                <div *ngIf="form.get('surname')?.hasError('required')" class="error-message">
                    Surname is required.
                </div>
                <div *ngIf="form.get('surname')?.hasError('minlength')" class="error-message">
                    Surname length must be at least 2.
                </div>
                <div *ngIf="form.get('surname')?.hasError('maxlength')" class="error-message">
                    Surname length must be at most 40.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="date" id="dateofbirth" placeholder="dateofbirth" formControlName="dateOfBirth" required class="form-control" [class.is-invalid]="form.get('dateOfBirth')?.invalid && form.get('dateOfBirth')?.touched">
            <label for="dateofbirth">Date of birth</label>
            <div *ngIf="form.get('dateOfBirth')?.touched">
                <div *ngIf="form.get('dateOfBirth')?.hasError('required')" class="error-message">
                    Date of birth is required.
                </div>
                <div *ngIf="form.get('dateOfBirth')?.hasError('futureDate')" class="error-message">
                    Date of birth must be in the past.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="text" id="placeofbirth" placeholder="placeofbirth" formControlName="placeOfBirth" required class="form-control" [class.is-invalid]="form.get('placeOfBirth')?.invalid && form.get('placeOfBirth')?.touched">
            <label for="placeofbirth">Place of birth</label>
            <div *ngIf="form.get('placeOfBirth')?.touched">
                <div *ngIf="form.get('placeOfBirth')?.hasError('required')" class="error-message">
                    Place of birth is required.
                </div>
                <div *ngIf="form.get('placeOfBirth')?.hasError('minlength')" class="error-message">
                    Place of birth length must be at least 2.
                </div>
                <div *ngIf="form.get('placeOfBirth')?.hasError('maxlength')" class="error-message">
                    Place of birth length must be at most 40.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="number" id="number" placeholder="number" formControlName="number" required class="form-control" min="1" max="99" [class.is-invalid]="form.get('number')?.invalid && form.get('number')?.touched">
            <label for="number">Squad number</label>
            <div *ngIf="form.get('number')?.touched">
                <div *ngIf="form.get('number')?.hasError('required')" class="error-message">
                    Squad number is required.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <select id="position" placeholder="position" formControlName="position" required class="form-select" [class.is-invalid]="form.get('position')?.invalid && form.get('position')?.touched">
                <option value=0>Goalkeeper</option>
                <option value=1>Defender</option>
                <option value=2>Midfielder</option>
                <option value=3>Attacker</option>
            </select>
            <label for="position">Position</label>
            <div *ngIf="form.get('position')?.touched">
                <div *ngIf="form.get('position')?.hasError('required')" class="error-message">
                    Position is required.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="file" id="image" placeholder="image" formControlName="image" required class="form-control" [class.is-invalid]="form.get('image')?.invalid && form.get('image')?.touched">
            <label for="image">Image</label>
            <div *ngIf="form.get('image')?.touched">
                <div *ngIf="form.get('image')?.hasError('required')" class="error-message">
                    Image is required.
                </div>
                <div *ngIf="form.get('image')?.hasError('invalidFileType')" class="error-message">
                    Image must of type jpg/jpeg/png.
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top: 20px; align-items: center;">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create player</button>
        </div>
    </form>
</div>
<!-- <img src="assets/Images/Players/Default.jpg"> -->
