<div class="form">
    <div class="header-div" id="login">
        <p>Schedule match</p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
        <div class="form-floating mb-2">
            <input type="text" id="opponent" placeholder="opponent" formControlName="opponent" required class="form-control" [class.is-invalid]="form.get('opponent')?.invalid && form.get('opponent')?.touched">
            <label for="opponent">Opponent:</label>
            <div *ngIf="form.get('opponent')?.touched">
                <div *ngIf="form.get('opponent')?.hasError('required')" class="error-message">
                    Opponent is required.
                </div>
                <div *ngIf="form.get('opponent')?.hasError('minlength')" class="error-message">
                    Opponent length must be at least 2.
                </div>
                <div *ngIf="form.get('opponent')?.hasError('maxlength')" class="error-message">
                    Opponent length must be at most 40.
                </div>
            </div>
        </div>   
        <div class="form-floating mb-2">
            <input type="text" id="venue" placeholder="venue" formControlName="venue" required class="form-control" [class.is-invalid]="form.get('venue')?.invalid && form.get('venue')?.touched">
            <label for="venue">Venue:</label>
            <div *ngIf="form.get('venue')?.touched">
                <div *ngIf="form.get('venue')?.hasError('required')" class="error-message">
                    Venue is required.
                </div>
                <div *ngIf="form.get('venue')?.hasError('minlength')" class="error-message">
                    Venue length must be at least 2.
                </div>
                <div *ngIf="form.get('venue')?.hasError('maxlength')" class="error-message">
                    Venue length must be at most 40.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="text" id="referee" placeholder="referee" formControlName="referee" required class="form-control" [class.is-invalid]="form.get('referee')?.invalid && form.get('referee')?.touched">
            <label for="referee">Referee:</label>
            <div *ngIf="form.get('referee')?.touched">
                <div *ngIf="form.get('referee')?.hasError('required')" class="error-message">
                    Referee is required.
                </div>
                <div *ngIf="form.get('referee')?.hasError('minlength')" class="error-message">
                    Referee length must be at least 2.
                </div>
                <div *ngIf="form.get('referee')?.hasError('maxlength')" class="error-message">
                    Referee length must be at most 40.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="text" id="competition" placeholder="competition" formControlName="competition" required class="form-control" [class.is-invalid]="form.get('competition')?.invalid && form.get('competition')?.touched">
            <label for="competition">Competition:</label>
            <div *ngIf="form.get('competition')?.touched">
                <div *ngIf="form.get('competition')?.hasError('required')" class="error-message">
                    Competition is required.
                </div>
                <div *ngIf="form.get('competition')?.hasError('minlength')" class="error-message">
                    Competition length must be at least 2.
                </div>
                <div *ngIf="form.get('competition')?.hasError('maxlength')" class="error-message">
                    Competition length must be at most 40.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="datetime-local" id="start" placeholder="start" formControlName="start" required class="form-control" [class.is-invalid]="form.get('start')?.invalid && form.get('start')?.touched">
            <label for="start">Start:</label>
            <div *ngIf="form.get('start')?.touched">
                <div *ngIf="form.get('start')?.hasError('required')" class="error-message">
                    Start is required.
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="file" id="badge" placeholder="badge" formControlName="badge" required class="form-control" [class.is-invalid]="form.get('badge')?.invalid && form.get('badge')?.touched">
            <label for="badge">Opponents badge</label>
            <div *ngIf="form.get('badge')?.touched">
                <div *ngIf="form.get('badge')?.hasError('required')" class="error-message">
                    Image is required.
                </div>
                <div *ngIf="form.get('badge')?.hasError('invalidFileType')" class="error-message">
                    Image must of type jpg/jpeg/png.
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top: 20px; align-items: center;">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Schedule match</button>
        </div>
    </form>
</div>
