.main-div {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 30%;
}

form{
    width: 320px;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.form-control {
    text-wrap: wrap;
}

.header-div p{
    font-size: 24px;
    margin: 10px
}

.btn.btn-primary:disabled {
    background-color: gray;
    border-color: gray;
}

.error-message {
    color:red;
    margin-left: 5px;
}

.form-floating label{
    font-size: 14px;
}

.player-select {
    height: 100px;
}

.new-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
}

textarea {
    resize: both;
    width: 320px;
    height: 200px;
    max-width: 100%;
    max-height: 385px;
}

.paragraph {
    position: relative;
}

.image-container {
    position: relative;
    display: block;
    max-width: 250px;
}

img {
    width: 100%;
}

.hover-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    display: none;
}

.image-container:hover .hover-button, .paragraph:hover .hover-button {
    display: block;
}

.buttons {
    width: 100%;
    min-width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paragraphs {
    margin-top: 40px;
    margin-left: 20px;
}