<div class="row" *ngIf="isAdmin">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
        <div class="form-floating mb-2">
            <input type="text" id="minute" placeholder="minute" formControlName="minute" required class="form-control" [class.is-invalid]="form.get('minute')?.invalid && form.get('minute')?.touched">
            <label for="minute">Minute:</label>
            <span
                *ngIf="form.get('minute')?.touched && form.get('minute')?.hasError('required')"
                class="error-icon-hover-area"
                data-toggle="tooltip"
                data-placement="right"
                title="Minute is required"
            ></span>
            <span
                *ngIf="form.get('minute')?.touched && form.get('minute')?.hasError('maxlength')"
                class="error-icon-hover-area"
                data-toggle="tooltip"
                data-placement="right"
                title="Minute length must be at most 6"
            ></span>
        </div>
        <div class="form-floating mb-2">
            <input type="text" id="text" placeholder="text" formControlName="text" required class="form-control" [class.is-invalid]="form.get('text')?.invalid && form.get('text')?.touched">
            <label for="text">Event text:</label>
                <span
                    *ngIf="form.get('text')?.touched && form.get('text')?.hasError('required')"
                    class="error-icon-hover-area"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Text is required"
                ></span>
                <span
                    *ngIf="form.get('text')?.touched && form.get('minlength')?.hasError('required')"
                    class="error-icon-hover-area"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Text lengt must be at least 5"
                ></span>
                <span
                    *ngIf="form.get('text')?.touched && form.get('maxlength')?.hasError('required')"
                    class="error-icon-hover-area"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Text lengt must be at most 100"
                ></span>
        </div>
        <div>
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Add event</button>
        </div>
    </form>
    <div>
        <button type="button" (click)="saveChanges()" class="btn btn-primary">Save changes</button>
    </div>
</div>
<div *ngFor="let event of events">
    <app-match-event-card [event]="event" (removeEvent)="removeEvent($event)"></app-match-event-card>
</div>
