<div class="main-div" *ngIf="statistics || opponentStatistics">
    <ul class="tabs">
        <li (click)="selectTab('General')" [class.selected]="selectedTab === 'General'">General</li>
        <li (click)="selectTab('Attacking')" [class.selected]="selectedTab === 'Attacking'">Attacking</li>
        <li (click)="selectTab('Passing')" [class.selected]="selectedTab === 'Passing'">Passing</li>
        <li (click)="selectTab('Defending')" [class.selected]="selectedTab === 'Defending'">Defending</li>
    </ul>
    <div *ngIf="selectedTab=='General'" class="statistics">
        <div class="stat">
            <div>
                {{statistics.generalMatchStatistics.possession}}%
            </div>
            <label>Possesion</label>
            <div>
                {{opponentStatistics.generalMatchStatistics.possession}}%
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.generalMatchStatistics.duelSuccessRate}}%
            </div>
            <label>Duel success rate</label>
            <div>
                {{opponentStatistics.generalMatchStatistics.duelSuccessRate}}%
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.generalMatchStatistics.aerialDuelSuccessRate}}%
            </div>
            <label>Aerial duels won</label>
            <div>
                {{opponentStatistics.generalMatchStatistics.aerialDuelSuccessRate}}%
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.generalMatchStatistics.interceptions}}
            </div>
            <label>Interceptions</label>
            <div>
                {{opponentStatistics.generalMatchStatistics.interceptions}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.generalMatchStatistics.offsides}}
            </div>
            <label>Offsides</label>
            <div>
                {{opponentStatistics.generalMatchStatistics.offsides}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.generalMatchStatistics.corners}}
            </div>
            <label>Corners</label>
            <div>
                {{opponentStatistics.generalMatchStatistics.corners}}
            </div>
        </div>
    </div>
    <div *ngIf="selectedTab=='Attacking'" class="statistics">
        <div class="stat">
            <div>
                {{statistics.attackingMatchStatistics.shots}}
            </div>
            <label>Shots</label>
            <div>
                {{opponentStatistics.attackingMatchStatistics.shots}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.attackingMatchStatistics.shotsOnTarget}}
            </div>
            <label>Shots on target</label>
            <div>
                {{opponentStatistics.attackingMatchStatistics.shotsOnTarget}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.attackingMatchStatistics.blockedShots}}
            </div>
            <label>Blocked shots</label>
            <div>
                {{opponentStatistics.attackingMatchStatistics.blockedShots}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.attackingMatchStatistics.shotsOutsideTheBox}}
            </div>
            <label>Shots outside the box</label>
            <div>
                {{opponentStatistics.attackingMatchStatistics.shotsOutsideTheBox}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.attackingMatchStatistics.shotsInsideTheBox}}
            </div>
            <label>Shots inside the box</label>
            <div>
                {{opponentStatistics.attackingMatchStatistics.shotsInsideTheBox}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.attackingMatchStatistics.shootingAccuracy}}%
            </div>
            <label>Shooting accuracy</label>
            <div>
                {{opponentStatistics.attackingMatchStatistics.shootingAccuracy}}%
            </div>
        </div>
    </div>
    <div *ngIf="selectedTab=='Passing'" class="statistics">
        <div class="stat">
            <div>
                {{statistics.passingMatchStatistics.passes}}
            </div>
            <label>Passes</label>
            <div>
                {{opponentStatistics.passingMatchStatistics.passes}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.passingMatchStatistics.longPasses}}
            </div>
            <label>Long passes</label>
            <div>
                {{opponentStatistics.passingMatchStatistics.longPasses}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.passingMatchStatistics.passingAccuracy}}%
            </div>
            <label>Passing accuracy</label>
            <div>
                {{opponentStatistics.passingMatchStatistics.passingAccuracy}}%
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.passingMatchStatistics.passingAccuracyInOpponentsHalf}}%
            </div>
            <label>Passing accuracy in opponents half</label>
            <div>
                {{opponentStatistics.passingMatchStatistics.passingAccuracyInOpponentsHalf}}%
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.passingMatchStatistics.crosses}}
            </div>
            <label>Crosses</label>
            <div>
                {{opponentStatistics.passingMatchStatistics.crosses}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.passingMatchStatistics.crossingAccuracy}}%
            </div>
            <label>Crossing accuracy</label>
            <div>
                {{opponentStatistics.passingMatchStatistics.crossingAccuracy}}%
            </div>
        </div>
    </div>
    <div *ngIf="selectedTab=='Defending'" class="statistics">
        <div class="stat">
            <div>
                {{statistics.defendingMatchStatistics.tackles}}
            </div>
            <label>Tackles</label>
            <div>
                {{opponentStatistics.defendingMatchStatistics.tackles}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.defendingMatchStatistics.tackleSuccessRate}}%
            </div>
            <label>Tackle success rate</label>
            <div>
                {{opponentStatistics.defendingMatchStatistics.tackleSuccessRate}}%
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.defendingMatchStatistics.clearances}}
            </div>
            <label>Clearances</label>
            <div>
                {{opponentStatistics.defendingMatchStatistics.clearances}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.defendingMatchStatistics.fouls}}
            </div>
            <label>Fouls</label>
            <div>
                {{opponentStatistics.defendingMatchStatistics.fouls}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.defendingMatchStatistics.yellowCards}}
            </div>
            <label>Yellow cards</label>
            <div>
                {{opponentStatistics.defendingMatchStatistics.yellowCards}}
            </div>
        </div>
        <div class="stat">
            <div>
                {{statistics.defendingMatchStatistics.redCards}}
            </div>
            <label>Red cards</label>
            <div>
                {{opponentStatistics.defendingMatchStatistics.redCards}}
            </div>
        </div>
    </div>
</div>
