.main-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 8px;
}

.stat div{
    width: 10%;
    display: flex;
    justify-content: center;
}

li.selected{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-thickness: 3px ;
    
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    background-color: rgb(45, 45, 148);
}

ul, ol {
    list-style: none;
}

li {
    padding: 20px;
    color: rgb(196, 196, 196);
    transition: all 0.5s;
}

li:hover {
    cursor:  pointer;
}