<div class="main-div">
    <label class="header">Player Information</label>
    <div class="player-information">
        <div class="information-labels">
            <label>Name:</label>
            <label>Born:</label>
            <label>Squad number:</label>
            <label>Position:</label>
            <label>Date joined:</label>
            <label>Status:</label>
        </div>
        <div class="information">
            <label>{{player.name}}&nbsp;{{player.surname}}</label>
            <label>{{formatDate(player.dateOfBirth)}}&nbsp;{{player.placeOfBirth}}</label>
            <label>{{player.squadNumber}}</label>
            <label>{{formatPosition(player.position)}}</label>
            <label>{{formatDate(player.dateJoined)}}</label>
            <label>{{formatStatus(player.status)}}</label>
        </div>
        <div class="image">
            <img src={{player.image}} alt={{player.name}}&nbsp;{{player.surname}}&nbsp;image>
        </div>
    </div>
    <div class="player-stats-header">
        <label class="header">Player Stats</label>
        <select (change)="selectCompetition($event)" class="form-select" style="width: 250px;margin-left: 10px;">
            <option value="any" selected>-- any --</option>
            <option value="Premier League">Premier League</option>
            <option value="FA Cup">FA Cup</option>
            <option value="Champions League">Champions League</option>
        </select>
        <select (change)="selectYear($event)" class="form-select" style="width: 130px;margin-left: 10px;">
            <option value="2023">2023/24</option>
            <option value="2022">2022/23</option>
            <option value="2021">2021/22</option>
        </select>
    </div>
    <app-match-player-statistics [selectedStats]="playerStats" *ngIf="playerStats.generalStatistics"></app-match-player-statistics>
    <label class="header">Related articles</label>
    <app-article-card *ngFor="let article of articles" [article]="article"></app-article-card>
</div>
